/*
.lc__container1, .lc__container2, .lc__container3 {
    width: 468px;
    height: 160px;
    padding: none;
    margin-top:90px;
    margin-left: 98;
    border-radius: 8px;
    background: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}  
*/

.lc__container1 {
    width: 468px;
    height: 160px;
    padding: none;
    margin-top:90px;
    margin-left: 98;
    border-radius: 8px;
    background: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* in one row...no!?*/

    .lc__container1_box1, .lc__container1_box2, .lc__container1_box3 {
    flex-direction: row;
    }

        .lc__container1_box1 {
            background: #217a07;
            border-radius: 4px;
            width: 78px;
            height: 78px;
          /*  margin-top: 63px;
            margin-right: 20px;
            margin-bottom: 19px;
            margin-left: 19px;*/
        }

        .lc__container1_box2 {
            background: #217a07;
            border-radius: 4px;
            width: 78px;
            height: 78px;
           /* margin-top: 63px;
            margin-right: 20px;
            margin-bottom: 19px;
            margin-left: 117px;*/  
        }

        .lc__container1_box3 {
            background: #217a07;
            border-radius: 4px;
            width: 78px;
            height: 78px;
           /* margin-top: 63px;
            margin-right: 20px;
            margin-bottom: 19px;
            margin-left: 117px;*/
        }
.lc__container2 {
    width: 468px;
    height: 160px;
    padding: none;
    margin-top:20px;
    margin-left: 98;
    border-radius: 8px;
    background: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.lc__container3 {
    width: 468px;
    height: 160px;
    padding: none;
    margin-top:20px;
    margin-left: 98;
    border-radius: 8px;
    background: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* Right column */

section {
    display: inline-block
}

.lc {
    flex-direction: column;
}

.rc__container1 {
    width: 468px;
    height: 160px;
    padding: none;
    margin-top:20px;
    margin-left: 98;
    border-radius: 8px;
    background: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rc__container2 {
    width: 468px;
    height: 160px;
    padding: none;
    margin-top:20px;
    margin-left: 98;
    border-radius: 8px;
    background: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rc__container3 {
    width: 468px;
    height: 160px;
    padding: none;
    margin-top:20px;
    margin-left: 98;
    border-radius: 8px;
    background: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}