
body {
    background-color: rgb(248, 197, 244);
    min-height: 100vh;
}

/* -------- GENERAL STYLING - PLACEMENT CONTAINER 1-6 ------ */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* -------- CONTAINER 1 ------ */
/* -------- 11111111111 ------ */

.container__container1 {
    width: 468px;
    height: 160px;
    padding: none;
    background-color: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
/* -------- boxes container 1 -------*/

    .container__container1__box__box1 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }

    .container__container1__box__box2 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }

    .container__container1__box__box3 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
/* QUESTION 1: Seems like I couldn't style all boxes together which was confusing. 
               My initial thought was to style them all under the general styling tag for box (box styling below). 
               However all 3 boxes did not appear, but when I started adding separet styling (box 1,2,3 styling above) they all appeared in the browser window. */


/* ------- Container 1, Box styling ------- */

        .container__container1__box {
            margin: 20px;
            display: flex;
            align-items: flex-end;
        }
        
/* QUESTION 2: why isn't the styling align-items working? Is there any other styling blocking it? */


/* ------- CONTAINER 2 --------- */
/* ------- 22222222222 --------- */

.container__container2 {
    width: 468px;
    height: 160px;
    padding: none;
    border-radius: 8px;
    background-color: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
    
/* ------- boxes container 2 ------ */

    .container__container2__box__box1 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: auto;
    }

    .container__container2__box__box2 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }

    .container__container2__box__box3 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: auto;
    }

/* QUESTION 3: Whenever I give all 3 boxes the same styling they all disapear... 
               I can style them the way I should be stylling container 5 with all boxes showing.
               Howcome they all disappear when styling all 3 the same way??
        

        
/* ------- Container 2, Box styling ------- */

        .container__container2__box {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: stretch;   

        }



/* ------- CONTAINER 3 ---------- */
/* ------- 33333333333 --------- */

.container__container3 {
    width: 468px;
    height: 160px;
    padding: none;
    border-radius: 8px;
    background-color: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
            
 /* ------- boxes container 3 ------- */
        
    .container__container3__box__box1 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
        
    .container__container3__box__box2 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
        
    .container__container3__box__box3 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }

/* ------- Container 3, Box styling ------- */

        .container__container3__box {
            margin: 20px;
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
        }



/* ------- CONTAINER 4 ---------- */
/* ------- 44444444444 --------- */

.container__container4 {
    width: 468px;
    height: 160px;
    padding: none;
    border-radius: 8px;
    background-color: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
            
 /* ------- boxes container 4 ------- */
        
    .container__container4__box__box1 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
        
    .container__container4__box__box2 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
        
    .container__container4__box__box3 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px; 
    }

/* ------- Container 4, Box styling ------- */

        .container__container4__box {
            display: flex;
            justify-content: space-around;
        }

            .container__container4__box__box3 {
                align-self: flex-end;
            }




/* ------- CONTAINER 5 ---------- */
/* ------- 55555555555 --------- */

.container__container5 {
    width: 468px;
    height: 160px;
    padding: none;
    border-radius: 8px;
    background-color: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
            
 /* ------- boxes container 5 ------- */
        
    .container__container5__box__box1 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
    }
        
    .container__container5__box__box2 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
        
    .container__container5__box__box3 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
    }

/* ------- Container 5, Box styling ------- */

        .container__container5__box {
            margin: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

            .container__container5__box__box1 {
                align-self: stretch;
            }

            .container__container5__box__box3 {
                align-self: stretch;
            }

/* ------- Container 5, box 1, 2 & 3, text styling ------- */
                .some-text {
                    text-align: center; 
                    font-family: 'Quicksand', sans-serif;
                    font-style: normal;
                    font-size: 13px;
                    color: pink
                } 

/* QUESTION 4: How to get text to align? */ 



/* ------- CONTAINER 6 ---------- */
/* ------- 66666666666 --------- */

.container__container6 {
    width: 468px;
    height: 160px;
    padding: none;
    border-radius: 8px;
    background-color: #e5b505ad;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
            
 /* ------- boxes container 6 ------- */
        
    .container__container6__box__box1 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
        
    .container__container6__box__box2 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }
        
/* QUESTION 5: I don't get how I can still use margins and width on box 2 but still 
             have it respond to styling flex-grow, whereas for container 5, box 1 & 3, 
             I needed to remove height and margins to make them able to strech. 
             Any ideas? ^^' */

    .container__container6__box__box3 {
        background: #217a07;
        border-radius: 4px;
        width: 78px;
        height: 78px;
        margin: 20px;
    }

/* ------- Container 6, Box styling ------- */

        .container__container6__box {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-content: space-around;
        }


            .container__container6__box__box2 {
                flex-grow: 2;
            }

/* QUESTION 6: Throughout this styling sheet I have written the code that I THINK is correct. 
               But the result of the code is not shown on the website. 
               Am I using BEM the wrong way? 
               Is there a different order in writing styling that I need apply?

               It would be helpfull to see a "right way" to write this code.*/   

